@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Welcome to the Belmont Arms transaction Manager. Please visit <a href="http://thebelmontarms.co.uk" title="Belmont Arms">The Belmont Arms</a>
</p>
