<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <connectionStrings>
   <add name="BarManagerEntities" connectionString="metadata=res://*/BarManagerModel.csdl|res://*/BarManagerModel.ssdl|res://*/BarManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEAN-LAPTOP\SEANLAPTOP;initial catalog=BarManager;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 </connectionStrings>
</configuration>